* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 16px;
}

.intro-chunk > .title {
  margin-bottom: 48px;
}

.intro-chunk > p {
  min-width: 250px;
  max-width: 50%;
}

.intro-chunk > p > strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 30%);
  padding: 64px 0px;
}

.card {
  background-color: white;
  padding: 16px;
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  padding: 16px;
  min-width: 250px;
  max-width: 60%;
  margin-left: -24px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  margin-top: 0px;
  padding-left: 24px;
}
